@import "tailwindcss";

html {
  font-size: 100%;
  /* généralement 16px */
}

@media (max-width: 768px) {
  html {
    font-size: 80%; /* ~14px, réduit tout le site proportionnellement */
  }
}

:root {
  --red:#d70c38;
  --redhover: rgb(250, 58, 99);
  --grey: rgb(128, 127, 127);
  --line:rgb(35, 35, 35);
  --bg: rgb(15, 14, 14);
}



body{
 background-color: var(--bg);
 color: white;
 margin: 0;
 

}

h1{
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2em;
  display: inline-block
}

h2{
  font-size: 1.5em;
}

h3{
 font-size:1em;
 color: var(--grey)
}


.hover-transition{
  transition: background-color 0.2s ease;
    transition: color 0.2s ease;


}


.swiper-button-next svg ,
.swiper-button-prev svg  {
  pointer-events: none;
  fill: none !important;
  opacity: 30%;
  transition: opacity 0.2s ease;
}

.swiper-button-next:hover svg ,
.swiper-button-prev:hover svg  {
  opacity:100%

}

.swiper-button-disabled{
  visibility: hidden
}
